@model System.Data.DataTable

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrowers</h2>

<a href="/Loan/CreateBorrower" class="btn btn-primary mb-3">
    Add Borrower
</a>

<table class="table table-bordered">

    <thead>

        <tr>

            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Guardian</th>

        </tr>

    </thead>

    <tbody>

        @foreach (System.Data.DataRow r in Model.Rows)
        {

            <tr>

                <td>@r["FullName"]</td>
                <td>@r["MobileNumber"]</td>
                <td>@r["Email"]</td>
                <td>@r["GuardianName"]</td>

            </tr>

        }

    </tbody>

</table>