@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Borrower</h2>

<form method="post" action="/Loan/SaveBorrower">

    <div class="row">

        <div class="col-md-4">

            <label>Full Name</label>
            <input name="FullName" class="form-control" />

        </div>

        <div class="col-md-4">

            <label>DOB</label>
            <input type="date" name="DOB" class="form-control" />

        </div>

        <div class="col-md-4">

            <label>Mobile</label>
            <input name="MobileNumber" class="form-control" />

        </div>

        <div class="col-md-4 mt-3">

            <label>Email</label>
            <input name="Email" class="form-control" />

        </div>

        <div class="col-md-4 mt-3">

            <label>Guardian Name</label>
            <input name="GuardianName" class="form-control" />

        </div>

        <div class="col-md-4 mt-3">

            <label>Marital Status</label>

            <select name="MaritalStatus" class="form-control">
                <option>Single</option>
                <option>Married</option>
            </select>

        </div>

        <div class="col-md-6 mt-3">

            <label>Local Address</label>

<textarea name="LocalAddress" class="form-control"></textarea>

        </div>

        <div class="col-md-6 mt-3">

            <label>Permanent Address</label>

<textarea name="PermanentAddress" class="form-control"></textarea>

        </div>

        <div class="col-md-4 mt-3">

            <label>Aadhar</label>

            <input name="AadharNumber" class="form-control" />

        </div>

        <div class="col-md-4 mt-3">

            <label>PAN</label>

            <input name="PANNumber" class="form-control" />

        </div>

    </div>

    <button class="btn btn-success mt-4">
        Save Borrower
    </button>

</form>